@model task.Models.CounterItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CounterItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IconUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IconUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasPlus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasPlus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasPercentage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
